body {
  width: 80%;
  padding: 5px;
  margin: 0 10%;
  justify-items: center;
  border: 2px solid plum;
}
header, body > * {
  font-size: 20px;
}
#nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  margin: -20px 0;
}
#nav-bar > div > p  {
  font-size: 20px;
}
h1 {
  flex: 4;
  font-family: 'Babylonica', cursive;
}
#nav-bar div {
  width: 80px;
  text-align: center;
  text-shadow: 2px 2px rgb(219, 219, 219);
}
#nav-bar div:hover {
  -webkit-text-stroke: 1px black;
  color: white;
  font-size: 22px;
}
#nav-bar div:last-child {
  width: 150px;
}
header {
  border-bottom: 1px solid black;
  background-image: url(pic/flowers.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.initials {
  text-align: center;
  
  color: hotpink;
  text-shadow: 5px 5px #e4bfda8a;
  font-size: 50px;
}
.description {
  border-bottom: 1px solid black;
  
}
.divider-box {
  height: 20px;
  color: gray;
  background-color: rgba(128, 128, 128, 0.116);
}
#projects > h1 {
  font-size: 3em;
  margin: -10px 0;
}
button {
  height: auto;
  width: 120px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px grey;
}
#project1 {
  width: 80%;
  margin: 0 10%;
  align-items: center;
  border: 5px solid rgb(0, 255, 98);
  padding: 10px 0;
}
#enter-username-title {
  width: 100%;
  text-align: center;
}
#enter-username {
  width: 100%;
}
#enter-username > * {
  font-size: 20px;
}
.usinput-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
}
.usinput-container > * {
  margin: 5px;
}
.rules {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  flex-wrap: wrap;
}
.password-indicator {
  height: 25px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.password-indicator > div {
  border: 1px solid rgb(209, 209, 209);
  margin: 2px;
  height: 20px;
  width: 30%;
  display: flex;
  align-items: center;
}
#reset-username{
  display: none;
  justify-self: center;
}
.gallery {
  width: 92%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid pink;
  border-radius: 1%;
  justify-content: space-around;
}
.gallery > div{
  height: auto;
  width: 30%;
  text-align: center;
  text-justify: center;
  border: 2px solid pink;
  border-radius: 5%;
}
#project2 {
  width: 80%;
  margin: 20px 10%;
  border: 5px solid rgb(255, 0, 106);
}
#digit1, #digit2, #digit3, #digit4 {
  height: 68px;
  width: 50px;
  font-size: 39px;
  text-align: center;
}
#number-input {
  display: none;
}
#cb-game > * {
  font-size: 26px;
}
.turn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  display: none;
}
#attempts {
  padding: 10px 0;
}
.box {
  display: inline-flex;
}
.box1 {
  width: 10%;
  display: flex;
}
#youWin, #youLose {
  display: none;
}
#hiddenNr {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(255, 0, 106);
  text-decoration: solid;
  font-size: 66px;
  margin: -10px;
  background-color: rgba(255, 230, 0, 0.185);
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out 3 both;
	        animation: heartbeat 1.5s ease-in-out 3 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-13 22:31:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
